In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("MTurkPerformanceData.csv")

In [3]:
df.head(2)

,Date,WorkerId,Qualtrics_1,Qualtrics_2,Hit ID,Assignment ID,Interaction Structure,Deferral Rate,Deferral Rate 2,Task difficulty 2,...,Completion Time,Log Time,Correct Prediction,AI Correct Prediction,Type of system error,Type of AI error,Last Decision Correct,Adopt Model Prediction,Coded Prediction,Model Adoption
0,Wed Oct 27 00:13:42 PDT 2021,A3KX41BO16LNFI,253336,465779,3UUSLRKAUN5LXGEB5MAE2UFXSO0D7W,30OG32W0SWDIFRIS7Q7PTTFV21KENE,soft,25% Pre-AI,0.25,easy,...,2.4,0.875469,Correct,Correct,Correct,Correct,NaN,Adopt,1,Adopt
1,Wed Oct 27 00:13:42 PDT 2021,A3KX41BO16LNFI,253336,465779,3UUSLRKAUN5LXGEB5MAE2UFXSO0D7W,30OG32W0SWDIFRIS7Q7PTTFV21KENE,soft,25% Pre-AI,0.25,easy,...,2.0,0.693147,Correct,Correct,Correct,Correct,NaN,Adopt,1,Adopt

In [4]:
df.shape

(12320, 39)

In [5]:
df.isna().sum()

Date                         0
WorkerId                     0
Qualtrics_1                  0
Qualtrics_2                  0
Hit ID                       0
Assignment ID                0
Interaction Structure        0
Deferral Rate                0
Deferral Rate 2              0
Task difficulty 2            0
Task difficulty              0
Condition                    0
Block                        0
Condition Type               0
Class                        0
TID                          0
DB Name                      0
Image 1                      0
Image 2                      0
Source                     320
True Label                   0
AI Label                     0
Intervene                    0
Last Decision             6560
Final Decision               0
Gender                     160
Time                         0
Time Char                    0
Time Char 2                  0
Completion Time              1
Log Time                     1
Correct Prediction           0
AI Correct Prediction        0
Type of system error         0
Type of AI error             0
Last Decision Correct     6560
Adopt Model Prediction       0
Coded Prediction             0
Model Adoption            3293
dtype: int64

In [6]:
for i in df.columns:
    print(i)
    print(df[i].value_counts())
    print()

Date
Wed Oct 27 01:27:26 PDT 2021    154
Wed Oct 27 00:13:42 PDT 2021     77
Wed Oct 27 01:19:09 PDT 2021     77
Tue Oct 26 23:48:24 PDT 2021     77
Wed Oct 27 00:30:16 PDT 2021     77
                               ...
Wed Oct 27 00:48:39 PDT 2021     77
Wed Oct 27 00:27:41 PDT 2021     77
Wed Oct 27 00:25:43 PDT 2021     77
Tue Oct 26 23:54:06 PDT 2021     77
Wed Oct 27 00:52:13 PDT 2021     77
Name: Date, Length: 159, dtype: int64

WorkerId
A361Y1J3LPJD2I    154
A3KX41BO16LNFI     77
A25R30EBOGEYFH     77
A325YJTEVR04OL     77
A16JBNLJFS6DLN     77
                 ...
AS13V1K31UMD7      77
A16EL6JOVKN2EE     77
A39WDUMRJ91X8T     77
A3L3Q3L4PYOGNS     77
A3IO9XP77IUUNN     77
Name: WorkerId, Length: 159, dtype: int64

Qualtrics_1
253336    77
421257    77
647042    77
570257    77
83369     77
          ..
568128    77
752409    77
763034    77
666833    77
453517    77
Name: Qualtrics_1, Length: 160, dtype: int64

Qualtrics_2
465779    77
174709    77
829996    77
106363    77
525126    77
          ..
444269    77
409924    77
135533    77
153983    77
179514    77
Name: Qualtrics_2, Length: 160, dtype: int64

Hit ID
3UUSLRKAUN5LXGEB5MAE2UFXSO0D7W    3080
3EGKVCRQFYUBX3CSEZ98KHBUT2XYBB    3080
34HEO7RUG8WXHSVEUQHIHAYR8XXRA7    3080
3PKVGQTFIJMYDATHAWVYKWGYBO0YRO    3080
Name: Hit ID, dtype: int64

Assignment ID
30OG32W0SWDIFRIS7Q7PTTFV21KENE    77
31Q0U3WYDRHUS5WTFVVLQCABDD6718    77
3NKQQ8O3907QIBO18W8R16P4AL7DU7    77
3NPI0JQDAQ7K7VC2D09CW4KR5Q3PT6    77
3OSWBBLG1GZIZFIWD1JELDO843ODXZ    77
                                  ..
3FFJ6VRIL3QRA0S723VI3WHAM1B0IT    77
3GFK2QRXXBJ862YDOQ59LIM9IKPW5M    77
3HRMW88U18SD6JIYNITAVPOR3AV0M9    77
3HSYG7LRBL0KTLPZ6ZQCZWBWS36KKU    77
3ZPPDN2SLXYXQPEY6GOKBSKBXCYE9A    77
Name: Assignment ID, Length: 160, dtype: int64

Interaction Structure
soft        6560
Pre-AI 1    2880
Pre-AI 3    2880
Name: Interaction Structure, dtype: int64

Deferral Rate
25% Pre-AI    6160
75% Pre-AI    6160
Name: Deferral Rate, dtype: int64

Deferral Rate 2
0.25    6160
0.75    6160
Name: Deferral Rate 2, dtype: int64

Task difficulty 2
easy          6560
difficult     5600
difficulty     160
Name: Task difficulty 2, dtype: int64

Task difficulty
easy         6560
difficult    5760
Name: Task difficulty, dtype: int64

Condition
1    3080
2    3080
3    3080
4    3080
Name: Condition, dtype: int64

Block
2    8640
1    2880
0     800
Name: Block, dtype: int64

Condition Type
soft deferral      6560
pre-AI Judgment    5760
Name: Condition Type, dtype: int64

Class
easy mismatch         3360
easy match            3200
difficult mismatch    2880
difficult match       2720
difficulty match       160
Name: Class, dtype: int64

TID
1024    160
1074    160
694     160
286     160
1048    160
       ...
261     160
557     160
1228    160
1380    160
756     160
Name: TID, Length: 77, dtype: int64

DB Name
morphed           3360
multiview         3200
vgg               2880
vgg_1             1280
multiview_0201     800
multiview_0101     320
iranian_women      160
iranian folder     160
iranian            160
Name: DB Name, dtype: int64

Image 1
125_02_01_041_08.png     160
0_n004220_0005_01.png    160
4603_0.jpg               160
056_01_01_051_05.png     160
0_n004755_0001_01.png    160
                        ...
028_01_01_041_02.png     160
0_n004032_0002_02.png    160
9780_0.jpg               160
0_n008021_0004_04.png    160
0_n003999_0001_01.png    160
Name: Image 1, Length: 77, dtype: int64

Image 2
125_02_01_041_09.png     160
0_n004270_0004_02.png    160
4603_1.jpg               160
150_01_01_130_11.png     160
0_n005829_0003_01.png    160
                        ...
128_01_01_041_15.png     160
0_n005838_0004_01.png    160
9780_1.jpg               160
0_n008992_0007_01.png    160
0_n005544_0006_01.png    160
Name: Image 2, Length: 77, dtype: int64

Source
Others    6880
Trials    2880
Pilot     2240
Name: Source, dtype: int64

True Label
different    6240
same         6080
Name: True Label, dtype: int64

AI Label
same         6308
different    6012
Name: AI Label, dtype: int64

Intervene
False    8887
True     3433
Name: Intervene, dtype: int64

Last Decision
same         3770
different    1990
Name: Last Decision, dtype: int64

Final Decision
different    6307
same         6013
Name: Final Decision, dtype: int64

Gender
male      8480
female    3520
both       160
Name: Gender, dtype: int64

Time
00:03.0    1171
00:02.0    1031
00:04.0    1009
00:05.0     743
00:06.0     449
           ...
00:37.7       1
01:06.9       1
00:20.6       1
0:00:17       1
00:25.6       1
Name: Time, Length: 359, dtype: int64

Time Char
03.0    1171
02.0    1031
04.0    1009
05.0     743
06.0     449
        ...
46.9       1
46.0       1
1:00       1
50.1       1
25.6       1
Name: Time Char, Length: 347, dtype: int64

Time Char 2
03.0    1171
02.0    1031
04.0    1009
05.0     743
06.0     449
        ...
46.9       1
46.0       1
1:00       1
50.1       1
25.6       1
Name: Time Char 2, Length: 347, dtype: int64

Completion Time
3.0     1321
2.0     1173
4.0     1132
5.0      822
6.0      505
        ...
24.2       1
33.6       1
46.9       1
37.6       1
25.6       1
Name: Completion Time, Length: 315, dtype: int64

Log Time
1.098612    1321
0.693147    1173
1.386294    1132
1.609438     822
1.791759     505
            ...
3.186353       1
3.514526       1
3.848018       1
3.627004       1
3.242592       1
Name: Log Time, Length: 315, dtype: int64

Correct Prediction
Correct    9217
Error      3103
Name: Correct Prediction, dtype: int64

AI Correct Prediction
Correct    8774
Error      3546
Name: AI Correct Prediction, dtype: int64

Type of system error
Correct           9217
false positive    1585
false negative    1518
Name: Type of system error, dtype: int64

Type of AI error
Correct           8774
false negative    1887
false positive    1659
Name: Type of AI error, dtype: int64

Last Decision Correct
Correct    3514
Error      2246
Name: Last Decision Correct, dtype: int64

Adopt Model Prediction
Reject    6733
Adopt     5587
Name: Adopt Model Prediction, dtype: int64

Coded Prediction
1    9217
0    3103
Name: Coded Prediction, dtype: int64

Model Adoption
Adopt     6375
Reject    2652
Name: Model Adoption, dtype: int64

In [7]:
df[df['TID'] == 113]['Assignment ID']

28       30OG32W0SWDIFRIS7Q7PTTFV21KENE
109      31Q0U3WYDRHUS5WTFVVLQCABDD6718
169      32M8BPYGAVOOL43SG5KLOO4QTI5GIH
275      3483FV8BEGLIDQ0KFPQ7PHKKA8026L
363      34S6N1K2ZXL4B169LEZG148JPMCLHZ
                      ...
11989    3WOKGM4L73I16M3A0Y8NNTDWYAAO0C
12050    3WQ3B2KGEAIHUHZJSC71VEW7W3XB1Y
12163    3X73LLYYQ3GUZ19UXRFVEWC8UH7NHY
12188    3YMU66OBIPAOP9S8AN20OC3BT5LGHJ
12310    3ZPPDN2SLXYXQPEY6GOKBSKBXCYE9A
Name: Assignment ID, Length: 160, dtype: object

In [8]:
df[df['TID'] == 113]['WorkerId']

28       A3KX41BO16LNFI
109       AKDW4KVJTZZU8
169       AQFZPEWVIGAQM
275      A1PJEIP51Q7JTN
363      A361Y1J3LPJD2I
              ...
11989     AVENDCL5QRCO3
12050     A75YJO70YXWMK
12163     AAHKL60NI8VZM
12188    A34AL11AXC9KK8
12310    A3IO9XP77IUUNN
Name: WorkerId, Length: 160, dtype: object

In [9]:
df.columns

Index(['Date', 'WorkerId', 'Qualtrics_1', 'Qualtrics_2', 'Hit ID',
       'Assignment ID', 'Interaction Structure', 'Deferral Rate',
       'Deferral Rate 2', 'Task difficulty 2', 'Task difficulty', 'Condition',
       'Block', 'Condition Type', 'Class', 'TID', 'DB Name', 'Image 1',
       'Image 2', 'Source', 'True Label', 'AI Label', 'Intervene',
       'Last Decision', 'Final Decision', 'Gender', 'Time', 'Time Char',
       'Time Char 2', 'Completion Time', 'Log Time', 'Correct Prediction',
       'AI Correct Prediction', 'Type of system error', 'Type of AI error',
       'Last Decision Correct', 'Adopt Model Prediction', 'Coded Prediction',
       'Model Adoption'],
      dtype='object')

In [10]:
var = ['WorkerId', 'Assignment ID', 'Interaction Structure', 'Deferral Rate', 'Task difficulty','Class', 'TID',  'True Label', 'Completion Time', 'Correct Prediction', 'AI Correct Prediction', 'Type of system error', 'Type of AI error',
       'Last Decision Correct','Model Adoption']

In [11]:
df_ = df[var]

In [12]:
df_.isna().sum()

WorkerId                    0
Assignment ID               0
Interaction Structure       0
Deferral Rate               0
Task difficulty             0
Class                       0
TID                         0
True Label                  0
Completion Time             1
Correct Prediction          0
AI Correct Prediction       0
Type of system error        0
Type of AI error            0
Last Decision Correct    6560
Model Adoption           3293
dtype: int64

In [13]:
df_.dropna(subset = ['Completion Time'], axis=0, inplace=True)

C:\Users\alex7\AppData\Local\Temp\ipykernel_17376\256099456.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_.dropna(subset = ['Completion Time'], axis=0, inplace=True)

In [14]:
df_.isna().sum()

WorkerId                    0
Assignment ID               0
Interaction Structure       0
Deferral Rate               0
Task difficulty             0
Class                       0
TID                         0
True Label                  0
Completion Time             0
Correct Prediction          0
AI Correct Prediction       0
Type of system error        0
Type of AI error            0
Last Decision Correct    6559
Model Adoption           3293
dtype: int64

In [15]:
df_.to_excel('MtutkP.xlsx')

ModuleNotFoundError: No module named 'openpyxl'

In [17]:
df1 = pd.read_excel('Prolific Data Set.xlsx')

In [18]:
df1.head(2)

,WorkerId,Qualtrics_1,Qualtrics_2,Hit ID,Assignment ID,Time Spend,Image 1,Image 2,TID,Difficulty,Block Number,True Label,AI Label,Condition Type,Intervene,Last Decision,Final Decision
0,5fb3d8382ceaab00087fadfc,947504,773564.0,_,_,22.847,n004201_0001_02.png,n004201_0008_01.png,4th,difficult match,1,same,0,pre-AI Judgment,True,same,different
1,5fb3d8382ceaab00087fadfc,947504,773564.0,_,_,2.742,0_n004220_0005_01.png,0_n004270_0004_02.png,4th,easy mismatch,2,same,1,pre-AI Judgment,True,same,different

In [19]:
def label(a, b):
    if a==b: 
        return 0 # correct
    else:
        return 1 # error

In [20]:
def task(a):
    if 'easy' in a:
        return 'easy'
    else:
        return 'difficult'

In [21]:
df1['error'] = df1.apply(lambda x: label(x['True Label'], x['Final Decision']), axis=1)

In [22]:
df1['task'] = df1.apply(lambda x: task(x['Difficulty']), axis=1)

In [25]:
df.head(1)

,Date,WorkerId,Qualtrics_1,Qualtrics_2,Hit ID,Assignment ID,Interaction Structure,Deferral Rate,Deferral Rate 2,Task difficulty 2,...,Completion Time,Log Time,Correct Prediction,AI Correct Prediction,Type of system error,Type of AI error,Last Decision Correct,Adopt Model Prediction,Coded Prediction,Model Adoption
0,Wed Oct 27 00:13:42 PDT 2021,A3KX41BO16LNFI,253336,465779,3UUSLRKAUN5LXGEB5MAE2UFXSO0D7W,30OG32W0SWDIFRIS7Q7PTTFV21KENE,soft,25% Pre-AI,0.25,easy,...,2.4,0.875469,Correct,Correct,Correct,Correct,NaN,Adopt,1,Adopt

In [23]:
df1.head(1)

,WorkerId,Qualtrics_1,Qualtrics_2,Hit ID,Assignment ID,Time Spend,Image 1,Image 2,TID,Difficulty,Block Number,True Label,AI Label,Condition Type,Intervene,Last Decision,Final Decision,error,task
0,5fb3d8382ceaab00087fadfc,947504,773564.0,_,_,22.847,n004201_0001_02.png,n004201_0008_01.png,4th,difficult match,1,same,0,pre-AI Judgment,True,same,different,1,difficult

In [31]:
df.columns

Index(['Date', 'WorkerId', 'Qualtrics_1', 'Qualtrics_2', 'Hit ID',
       'Assignment ID', 'Interaction Structure', 'Deferral Rate',
       'Deferral Rate 2', 'Task difficulty 2', 'Task difficulty', 'Condition',
       'Block', 'Condition Type', 'Class', 'TID', 'DB Name', 'Image 1',
       'Image 2', 'Source', 'True Label', 'AI Label', 'Intervene',
       'Last Decision', 'Final Decision', 'Gender', 'Time', 'Time Char',
       'Time Char 2', 'Completion Time', 'Log Time', 'Correct Prediction',
       'AI Correct Prediction', 'Type of system error', 'Type of AI error',
       'Last Decision Correct', 'Adopt Model Prediction', 'Coded Prediction',
       'Model Adoption'],
      dtype='object')

In [26]:
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score

In [27]:
df1['True Label']

0            same
1            same
2            same
3            same
4       different
          ...
9933         same
9934    different
9935         same
9936    different
9937         same
Name: True Label, Length: 9938, dtype: object

In [28]:
accuracy_score(df1['True Label'], df1['Final Decision'])

0.6070637955323003

In [32]:
accuracy_score(df['True Label'], df['Final Decision'])

0.7481331168831169

In [35]:
f1_score(df1['True Label'], df1['Final Decision'],pos_label='same')

0.6664388827197403

In [36]:
f1_score(df['True Label'], df['Final Decision'],pos_label='same')

0.7434052757793764

In [37]:
df2 = pd.read_csv('MturkAnnot.csv')

In [38]:
df2.head(1)

,Pair_ind,Image Name 1,Image Name 2,Ground Truth,Worker Id,Task ID,Quiz-Q1,Quiz-Q2,Quiz-Q3,Source,...,AI 2,AI 3,Human,Human 2,AI Proportion Incorrect,AI 1 Correct Coded,AI 2 Correct Coded,AI 3 Correct Coded,Sum,AI Proportion Incorrect 2
0,1,0_n008341_0001_01.png,0_n008760_0002_01.png,Different,A2QRIJVRFJD4C5,1,NaN,NaN,NaN,Pilot,...,Correct,Correct,Correct,Correct,0.0,1,1,1,3,0.0

In [39]:
df2.isna().sum()

Pair_ind                         0
Image Name 1                     0
Image Name 2                     0
Ground Truth                     0
Worker Id                        0
Task ID                          0
Quiz-Q1                      35540
Quiz-Q2                      35540
Quiz-Q3                      35540
Source                           0
pred 1                           0
pred 2                           0
pred 3                           0
pred Human                     824
Age                              0
Color                            0
Hair                             0
Gender Same                      0
Race Same                        0
Exp Same                         0
Rotation Same                    0
Gender Type                      0
Race Type                        0
Exp Type                         0
Rotation Type                    0
Occ                              0
Makeup                           0
Illumination                     0
Quality                          0
Gender 1                         0
Gender 2                         0
Race 1                           0
Race 2                           0
Exp 1                            0
Exp 2                            0
Occlusion 1                      0
Occlusion 2                      0
Head Rotate 1                    0
Head Rotate 2                    0
Illumination 1                   0
Illumination 2                   0
Makeup 1                         0
Makeup 2                         0
Quality 1                        0
Quality 2                        0
Ground Truth Coded               0
AI 1                             0
AI 2                             0
AI 3                             0
Human                          824
Human 2                          0
AI Proportion Incorrect          0
AI 1 Correct Coded               0
AI 2 Correct Coded               0
AI 3 Correct Coded               0
Sum                              0
AI Proportion Incorrect 2        0
dtype: int64

In [50]:
df2 = df2.drop(columns=['Quiz-Q1', 'Quiz-Q2', 'Quiz-Q3']).dropna()

In [52]:
accuracy_score(df2['Ground Truth Coded'], df2['pred Human'])

0.6840649844452126

In [54]:
f1_score(df2['Ground Truth Coded'], df2['pred Human'])

0.7117628508356985

In [46]:
df1.to_excel('Prolific.xlsx')

In [48]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

In [50]:
df_.head()

,WorkerId,Assignment ID,Interaction Structure,Deferral Rate,Task difficulty,Class,TID,True Label,Completion Time,Correct Prediction,AI Correct Prediction,Type of system error,Type of AI error,Last Decision Correct,Model Adoption
0,A3KX41BO16LNFI,30OG32W0SWDIFRIS7Q7PTTFV21KENE,soft,25% Pre-AI,easy,easy match,1024,same,2.4,Correct,Correct,Correct,Correct,NaN,Adopt
1,A3KX41BO16LNFI,30OG32W0SWDIFRIS7Q7PTTFV21KENE,soft,25% Pre-AI,easy,easy match,1025,same,2.0,Correct,Correct,Correct,Correct,NaN,Adopt
2,A3KX41BO16LNFI,30OG32W0SWDIFRIS7Q7PTTFV21KENE,soft,25% Pre-AI,easy,easy mismatch,793,different,2.0,Correct,Correct,Correct,Correct,NaN,Adopt
3,A3KX41BO16LNFI,30OG32W0SWDIFRIS7Q7PTTFV21KENE,soft,25% Pre-AI,easy,easy mismatch,1403,different,5.4,Error,Correct,false negative,Correct,NaN,Reject
4,A3KX41BO16LNFI,30OG32W0SWDIFRIS7Q7PTTFV21KENE,soft,25% Pre-AI,easy,easy mismatch,1404,different,14.0,Correct,Error,Correct,false negative,NaN,Reject

In [51]:
df_.columns

Index(['WorkerId', 'Assignment ID', 'Interaction Structure', 'Deferral Rate',
       'Task difficulty', 'Class', 'TID', 'True Label', 'Completion Time',
       'Correct Prediction', 'AI Correct Prediction', 'Type of system error',
       'Type of AI error', 'Last Decision Correct', 'Model Adoption'],
      dtype='object')

In [53]:
X_ = df_[['Interaction Structure', 'Deferral Rate',
       'Task difficulty','Completion Time']]

In [52]:
y_ = df_['Correct Prediction']

In [55]:
import numpy as np

In [56]:
X = X_.to_numpy()

In [58]:
X

array([['soft', '25% Pre-AI', 'easy', 2.4],
       ['soft', '25% Pre-AI', 'easy', 2.0],
       ['soft', '25% Pre-AI', 'easy', 2.0],
       ...,
       ['Pre-AI 3', '75% Pre-AI', 'difficult', 6.6],
       ['Pre-AI 3', '75% Pre-AI', 'easy', 3.9],
       ['Pre-AI 3', '75% Pre-AI', 'difficult', 6.3]], dtype=object)

In [57]:
lr1 = LogisticRegression(random_state=422, penalty='l1', solver='liblinear')
lr1.fit(X, y_)

ValueError: could not convert string to float: 'soft'

In [47]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

lr1 = LogisticRegression(random_state=422, penalty='l1', solver='liblinear')
lr1.fit(X_, y_)


y_pred_ = lr1.predict(x_test)
print(f"F1 Score {f1_score(y_test, y_pred_, average='macro')}")
print(f"Accuracy {accuracy_score(y_test, y_pred_)}")
print(classification_report(y_test, y_pred_))

ModuleNotFoundError: No module named 'sklearn'